/*
    GRAFICA DE BARRAS
*/

.grafica {
    /*gráficas verticales(por defecto 
    son horizontales)*/
    display: flex;
    height: 200px;
    /*barras apuntando hacia arriba 
    (por defecto salen hacia abajo)*/
    align-items: flex-end;
     transition: transform 0.5s ease;
}
.mover-derecha {
    animation: derecha 1s linear forwards; 
}

.barra {

    background-color: aqua;
    border: 1px solid #000;
    /*Tamaño de las barras*/
    width: 20px;
    height: 100px;

}


/*
    Sectores
    La idea es generar un cuadrado con clip-patch y luego
    recortarlo con la forma del diagrama de sectores.

    Clip-patch actúa como una tijera que se abre y cierra rellenando
    cada sector desde los puntos de pivote.
*/
.sectores {
    position: relative;

    width: 200px;
    height: 200px;
    animation: girar 2s linear infinite;
}

.sector {
    position: absolute;
    width: 200px;
    height: 200px;

    /*Sin esto el sector se vé cuadrado*/
    border-radius: 50%;
}


.uno {
    background-color: #3498db;
    /*
    Centro, esquina superior derecha, 
    esquina inferior derecha, 
    esquina inferior izquierda

    Puntos de despliegue de la tijera sobre el cuadrado inicial
    */
    clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%);
}

.dos {
    background-color: #e74c3c;
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
}

.tres {
    background-color: #2ecc71;
    clip-path: polygon(50% 50%, 50% 100%, 0 100%, 0 50%);
}

.cuatro {
    background-color: #f1c40f;
    clip-path: polygon(50% 50%, 0 50%, 0 0, 50% 0);
}

@keyframes girar {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);

    }
}
@keyframes derecha {
    to{
        transform: translateX(100px);
    }
}

/*
    CANVAS
*/

canvas{
    width: 600px;
    height: 400px;
    border: 1px solid #000;
}

